.card {
  border-radius: 10px;
  background-color: #eee;
  border: solid black 2px;
  padding: 2em;
  margin: 1.5em;
}

.card:hover {
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
  transition: all 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.txt {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
