.homeContainer {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  margin: 20px;
  margin-bottom: 70px;
  margin-top: 30px;
}

.containerChild {
  padding: 6px;
  margin: 10px;
  display: flex;
  align-items: center;
}

#reload {
  height: 40px;
  padding: 6px;
  margin: 10px;
}

button {
  transition: all 300ms ease-in-out;
  border: 2px solid black;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: translateX(-0.2px);
}

@media (max-width: 800px) {
  .container {
    margin-left: 10px;
  }

  .homeContainer {
    background-color: aqua;
    display: block;
  }

  select {
    width: 60px;
    height: 30px;
  }

  .containerChild h3 {
    font-size: 25px;
  }

  .container label {
    font-size: 23px;
  }

  button {
    width: 80px;
    font-size: 20px;
    text-align: center;
  }

  .boton {
    padding: 4px 6px;
    text-align: center;
  }
}
